{% extends 'base.html' %}
{% block title %} {{ case.train.serial.serial }}-{{ case.train.number }}: {{ case.name }}{% endblock %}
{% block name %}

    <div class="row">
        <aside class="col-12 col-md-3">
            <div class="p-3 mb-2 bg-secondary text-white">
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-dark" >
                    {{ case.train.serial.serial }}-{{ case.train.number }}</li>
                <li class="list-group-item list-group-item-dark">Дата создания записи:
                    {{ case.created|date:"d.m.Y" }}</li>
                <li class="list-group-item list-group-item-dark">
                    Создал: {{ case.author }}</li>
            </ul>
        </div>
        </aside>
        <article class="col-12 col-md-9">
            <p>
                {{ case.text }}
            </p>
        </article>
    </div>
    {% include 'includes/paginator.html' %}
{% endblock %}