{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
    {% if is_edit %}
        Редактирование поста
    {% else %}
        Создание новго поста
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8 p-5">
                <div class="card">
                    {% if is_edit %}
                        <div class="card-header">Редактирование поста</div>
                    {% else %}
                        <div class="card-header">Новый пост</div>
                    {% endif %}
                    <div class="card-body">
                        {% if is_edit %}
                            <form method="post" enctype="multipart/form-data"
                                  action="{% url 'posts:post_edit' form.instance.id %}">
                        {% else %}
                            <form method="post" enctype="multipart/form-data"
                                  action="{% url 'posts:post_create' %}">
                        {% endif %}
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">
                            {% if is_edit %}
                                Сохранить
                            {% else %}
                                Добавить
                            {% endif %}
                        </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'includes/footer.html' %}
    </html>
{% endblock %}