{% extends 'base.html' %}
{% block title %} {{ train.serial.serial }}-{{ train.number }}{% endblock %}
{% block name %}

    <div class="row">
        <article class="col-12 col-md-9">
            <form method="post" enctype="multipart/form-data"
                  action="{% url 'train:train_create' %}">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.as_p }}
                </div>

                <button type="submit" class="btn btn-light">
                    Сохранить
                </button>
            </form>
        </article>
    </div>
    {% include 'includes/paginator.html' %}
{% endblock %}