{% extends 'base.html' %}
{% block title %}
    <h1>Список поездов.</h1><br>
{% endblock %}


{% block content %}
    {% for train in page_obj %}       
        <a type="button" class="btn btn-light"
        href="{% url 'train:cases_list' train.id %}">{{ train.serial.serial }}-{{ train.number }}</a>

        <a type="button" class="btn btn-light"
        href="{% url 'train:cases_list' train.id %}">{{ train.serial.serial }}-{{ train.number }}</a>

        {% if not forloop.last %}
            <hr>
        {% endif %}
    {% endfor %}
    {% include 'includes/paginator.html' %}
{% endblock %}
